* {
font-family:Arial, Helvetica, sans-serif;
background-color:cornflowerblue;
/*overflow-x:visible;*/
padding:0%;
margin:0%;
border:0%;
}
.menu ul{
list-style-type: none;
margin:0;
padding:0;
width:100%;
display:flex;
flex-grow:1;
}
.menu ul li {
    width:100%;
}
.menu ul li button {
border:none;
background-color: rgb(255, 204, 0);
height:10vh;
width:100%;
font-size:larger;
}
.menu ul li button:hover{
transition: 0.2s;
background-color:cornflowerblue;
}




/* GRID MARKUP */
.housingDiv div:hover {
    background-color: rgb(255, 204, 0);
    transition:0.2s;
}
/*
.housingDiv{
    border:1px solid rgb(255, 234, 0);
    top:75px;
    width:100%;
    height:550px;
     position:absolute;
    display:flex;
    flex:1;
   
    padding:0%;
    align-content: space-around;
}
.housingDiv .gridDiv {
    width:100%;
    flex-wrap:wrap;

}
*/
.housingDiv {
    width:100%;
    height:100%;
    position:absolute;
    border:2px dashed rgb(255, 204, 0);   
    display:flex;
    flex-wrap:wrap;
    flex-basis:40px;

    }
    
.gridDiv {
box-sizing: border-box;
}

.filledInClass { /* this is the markup should a gridDiv be hovered over*/
    background-color: rgb(255, 204, 0);
}